build

VVUVCKit.xcodeproj/*

UVCKit.xcodeproj/project.xcworkspace/xcuserdata/zhangweiping.xcuserdatad/IDEFindNavigatorScopes.plist
UVCKit.xcodeproj/project.xcworkspace/xcuserdata/zhangweiping.xcuserdatad/UserInterfaceState.xcuserstate
UVCKit.xcodeproj/xcuserdata/zhangweiping.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
UVCKit.xcodeproj/xcuserdata/zhangweiping.xcuserdatad/xcschemes/UsbCamera.xcscheme
UVCKit.xcodeproj/xcuserdata/zhangweiping.xcuserdatad/xcschemes/xcschememanagement.plist
